<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>

    <%include partials/head.ejs %>
</head>
<body>
    <% include partials/navegation.ejs %>
    <div class="conteiner">
        <header class="row">
            <div class="col-lg-12 text-center">
                <img src="/Img/Logo.png" alt="Logo" class="animated bounceIn">
            </div>
        </header>
    </div>

    <!--SECTION ONE-->
    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center" >
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>Página de autoaprendizaje</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sunt ratione, sequi hic ipsum dicta expedita pariatur dolore blanditiis exercitationem! Vel explicabo numquam porro esse alias, totam voluptas labore a.</p>
            </div>
        </div>
    </div>    

    <%include partials/footer%>
</body>
</html>